#battle
  p Which is more awesome? 
  - var first_hex_id = first._id.toHexString();
  - var second_hex_id = second._id.toHexString();
  input(type='hidden', id='secure_hash', name='secure_hash', value=secure_hash)
  input(type='hidden', id='first_id', name='first_id', value=first_hex_id)
  input(type='hidden', id='first_votes', name='first_votes', value=first.votes)
  input(type='hidden', id='second_id', name='second_id', value=second_hex_id)
  input(type='hidden', id='second_votes', name='second_votes', value=second.votes)
  
  p 
    button(class='awesome', id='vote_for_first')= first.name
  p
    i or
  p 
    button(class='awesome', id='vote_for_second')= second.name

:javascript
  | head(function() {
  |    $('#battle').fadeIn();
  |    battles.Battle().wage(); 
  | });

  
